language: python
sudo: false
cache:
  apt: true
  pip: true
  directories:
    - $HOME/.cache/pip
    - $HOME/.local
matrix:
    include:
        - python: 3.5
          env: TOX_ENV=py35
        - python: 2.7.10
          env: TOX_ENV=py27
script:
  - tox -e $TOX_ENV
addons:
  apt:
    packages:
    - libblas-dev
    - liblapack-dev
    - gfortran
install:
  - pip install -U pip
  - pip install pytest
  - pip install tox
  - pip install numpy
  - travis_wait travis_retry pip install scipy
  - pip install pandas
  - pip install deap
  - pip install bitstring
  - travis_wait travis_retry python setup.py install
